body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container{
    width: 1000px;
    height: 1000px;
    background-color: darkblue;
    margin: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.options{
    width: 300px;
    height: 100px;
    background-color: darkgrey;
    margin: auto;
    font-size: 2rem;
    border-radius: 5px;
}

#box-options{
    display: flex;
    width: 1000px;
    align-self: center;
}

.subcontainer{
    display: flex;
    flex-direction: row;
    width: 1000px;
}

.pixel{
    background-color: wheat;
    width: 10px;
    height: 10px;
}

.black{
    background-color: black;
}

.options{
    color: white;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}